[2022-08-29 15:14] seb-jean commented on #435
Yes, for instance:

[code]

Using a service does not work. Finally I got the error:
`The function "service" does not exist around position 1 for expression container('App\\Service\\Generator').generate().`

[2022-08-30 14:45] nfacciolo opened #445 "[UX-Turbo] When create a chat it is not possible to identify the current user receiving the stream update"
In the controller implementing this:
[code]
In the view implementing this:

[code]

It's not possible to identify the publication receiver: `app.user.id` is all time the sender message id so it's impossible to customize the live updated view according to the sender or receiver (add sender avatar, put text to the right or left...)

Is it possible to get this information in live ?

[2022-08-30 18:03] weaverryan commented on #445
Hi!

I'm not sure exactly what you want to do, but I think I can help clarify what's possible :). When you publish the `Update` in the controller, you are publishing ONE update that will be sent to ALL users that are listening to that topic. Because you are just publishing ONE update for everyone, you can't customize what the HTML in that update looks like: it will be the same for everyone. So, yo

[2022-08-30 18:03] #445 closed, assigned to nobody

[2022-08-31 10:13] nfacciolo commented on #445
HI dude,

Thanks a lot for you response: this solution works but make one more requests per chat message.
I found out another working convenient solution:

[code]

[code]

[2022-08-31 12:58] weaverryan commented on #435
I suppose we could allow services to be fetched here - could you open a dedicated issue or PR?

[2022-08-31 13:02] seb-jean opened #446 "[Turbo] Unable to use function `service` in Attribute `Broadcast`"
Hi,

I would like to use the `service` function in the `Broadcast` attribute. Example:
[code]

But it doesn't work. I have the following error:
`The function "service" does not exist around position 1 for expression container('App\\Service\\Generator').generate().`

[2022-08-31 13:03] seb-jean commented on #435
Close for #446

[2022-08-31 13:03] #435 closed, assigned to nobody

[2022-09-03 20:26] gnito-org opened #448 "[LiveComponent] Page refresh does not submit dependent form field implementation"
Please refer to https://ux.symfony.com/live-component/demos/dependent-form-fields where one can see the problem in action.

Steps:

1. Select "Second Breakfast".
2. Select "Kiwi".
3. Refresh the page.

"Second Breakfast" is still selected but the Kiwi selection is forgotten.

At first glance it appears that the form is not submitted on page refresh.

[2022-09-04 10:09] robeliberty commented on #291
@Komet
Did you find how to fix this? I have the same exact issue.

[2022-09-04 10:10] robinbrisa commented on #291
@Komet
Did you find how to fix this? I have the same exact issue.

[2022-09-04 11:33] robinbrisa commented on #291
Maybe I was actually mistaken, by reading the UX turbo documentation I thought that a call to the `turbo_stream_listen` twig function was enough to generate everything necessary for the mercure authentication but after checking the code it seems like all it does is generate the stimulus tags. So are you supposed to manually generate the cookies with the `Authorization` service when using `turbo_st

[2022-09-04 12:03] wouterj commented on #291
@robinbrisa please keep this issue focused on the actual bug/feature. See https://symfony.com/support for some common channels to get community support (e.g. GitHub discussions or Slack).

[2022-09-04 18:27] hhoussou opened #450 "[ChartJS] How to customize tooltip title and label/body !?"
My chart is done and now I want to customize the tooltip title and label(or body).
I did like that :

[code]

For tooltips `backgroundColor,bodyFontColor,bodyFontSize works` but `not the title and label in callbacks`.
Anyone has already solved this problem ?

[2022-09-06 08:51] NicoHaase commented on #441
@weaverryan I've started working on this in a branch, but I'm struggling with generating the dist files. Is there any trick to do that? The error messages on my system look like those from Github Actions at https://github.com/symfony/ux/runs/8202892022?check_suite_focus=true

[2022-09-06 11:07] weaverryan commented on #441
Are you just getting that error from chart.js? If so, don’t just worry about it - the chart.js build is currently broken - we’re debugging in another PR. If it’s blocking your new code from building, the “hack” would be to open up the rollup config file and, temporarily, change the files variable - https://github.com/symfony/ux/blob/2.x/rollup.config.js#L41 - to point directly (hardcode the path,

[2022-09-06 11:12] weaverryan commented on #450
Hi there!

unfortunately, it can’t work like this :/. The callbacks need to be javascript callbacks. So, you can set all the other options this way. But for the options that require callbacks, you need to create a stimulus controller and listen to the pre-connect event, as shown here - https://symfony.com/bundles/ux-chartjs/current/index.html#extend-the-default-behavior - then you can modify the o

[2022-09-06 11:12] #450 closed, assigned to nobody

[2022-09-06 11:16] weaverryan commented on #448
Hey!

I’m not sure I understand. When I select both fields and refresh the page, both fields are “reset” back to their non selected value, which is what I would expect. When you refresh a page, you’re not resubmitting the form (in this case, the form doesn’t have a submit at all). Can you explain the problem a bit more?

[2022-09-06 12:04] gnito-org commented on #448
Hi Ryan!

Perhaps this is just a browser-specific issue. It displays the behavior I described in Firefox on Linux, but not in Chrome on Linux. Also not in iOS at all.

Closing this issue with a big nothing-burger high-five!

[2022-09-06 12:04] #448 closed, assigned to nobody

[2022-09-08 13:01] benr77 opened #452 "[Live Component] DoctrineObjectNormalizer is being used to normalize my non-Doctrine object"
Using v2.3 of the Live Component.

I'm using a DTO as a data class with a form in a live component. It's working OK with scalar values in the DTO.

However, when I try and use `Money/Money` object as one of the form data properties, it borks with:

[code]

Looking at the `DoctrineObjectNormalizer` I see it is given a priority of 100, making it kick in way before my custom Money normalizer which is

[2022-09-08 13:42] kbond commented on #452
Hey @benr77, strange, the doctrine one should be skipped as the object is not managed. I'll look into this.

I'm also questioning the priority. Currently, I don't think a custom doctrine entity normalizer can be used.

[2022-09-08 14:25] kbond commented on #452
#453 changes the priority from 100 to -100. I added a test that I think covers your scenario above (dto object with a normalizer) but couldn't recreate the error you received.

[2022-09-08 16:50] Ldiro opened #455 "[Autocomplete] route "ux_entity_autocomplete" doesn't exist"
Hello,

I followed the documentation to make an ajax powered autocomplete field, but I'm getting the following error : "Unable to generate a URL for the named route "ux_entity_autocomplete" as such route does not exist."

I installed `symfony/ux-autocomplete`, and ran `yarn install --force`. The version is the last one : `2.4.0`.

Here's my autocomplete field :

[code]
Here's my form :

[code]
I'm

[2022-09-09 05:50] benr77 commented on #452
My serializer is currently registered with a priority of -700, which IIRC is to ensure it is checked before `ObjectNormalizer` (priority -1000) but can still be overridden easily by client implementations (it's from a reusable bundle).

But `DoctrineObjectNormalizer` should not agree to normalize a non-Doctrine object surely?

My form data class just looks like this:

[code]

Thanks

[2022-09-09 06:13] benr77 commented on #452
On further investigation, it turns out that `DoctrineObjectNormalizer` does consider `Money\Money` to be managed by Doctrine.

https://github.com/symfony/ux-live-component/blob/17a2586f0fe86c4efbcabd39b3a90bcd453a39b2/src/Normalizer/DoctrineObjectNormalizer.php#L85

This line returns `EntityManager` for `Money\Money`.

It would seem that this is because I have a Doctrine embeddable defined to allo

[2022-09-09 10:52] kbond commented on #452
Ahhh, now it makes sense! I'll work on a fix.

[2022-09-09 12:46] weaverryan commented on #455
Hi!

This route is provided by the autocomplete package. When you installed the package, the package's Flex recipe should have copied this file into your app - https://github.com/symfony/recipes/blob/main/symfony/ux-autocomplete/2.2/config/routes/ux_autocomplete.yaml - that imports the missing route. If you don't have this file for some reason, add it and it should resolve things :).

Cheers!

[2022-09-09 12:46] #455 closed, assigned to nobody

[2022-09-09 14:03] kbond commented on #452
Hmm, still can't reproduce the issue. In #453, I've added a test that demonstrates using an embeddable as an entity property but also a dto property. I've also confirmed that:

https://github.com/symfony/ux/blob/85760ce651d2d7b883e86c273c5e4eb30d3eec3b/src/LiveComponent/src/Normalizer/DoctrineObjectNormalizer.php#L81

Returns `null` for the embeddable (as we would expect). What version of doctrine

[2022-09-09 15:18] benr77 commented on #452
I'm using doctrine/orm 2.13.1

Changing the priority for `DoctrineObjectNormalizer` to -100 does not fix the issue (this is all I've changed - not used the rest of #453)

If I remove the code that registers the embeddable from my bundle, the Live Component starts working, but I run into an "Invalid Checksum" error instead. Not sure if this is related or not.

Finally, the code that adds the embedd

[2022-09-09 15:19] Ldiro commented on #455
Thank you @weaverryan , it is working now 👍

[2022-09-09 15:30] kbond opened #456 "[Live][Docs] clarify docs for `LiveCollectionTrait` and `LiveCollectionType`"
https://symfony.com/bundles/ux-live-component/current/index.html#using-livecollectiontype

Per slack conversation with @1ed.

- Show the different ways this can be customized like shown here: https://github.com/symfony/ux/pull/417#issuecomment-1212414167
- Add note about not being able to use `form_theme _self` in component templates.
- Rendering of https://github.com/symfony/ux/blob/7c1d0dad2612d

[2022-09-09 15:55] kbond commented on #452
Finally solved! Was a tricky one: when embeddables are mapped using annotations, `ManagerRegistry::getManagerForClass()` returns `null` but when mapped using xml, it returns the `EntityManager`! I've added this scenario to the test in #453.

[2022-09-09 16:47] benr77 commented on #452
You sir, are a legend.

Isn't this a Doctrine bug then?

[2022-09-09 17:04] kbond commented on #452
Found a bit of context. I actually solved this exact thing in [zenstruck/foundry](https://github.com/zenstruck/foundry/pull/271) earlier this year!

Refs:
- https://github.com/zenstruck/foundry/issues/270#issuecomment-1106577221
- https://github.com/doctrine/orm/pull/8138
- https://github.com/doctrine/orm/pull/8006
- https://github.com/doctrine/orm/issues/7570

In short, it looks like it is a bug

[2022-09-09 18:28] truckee opened #457 "[Live Components]Docs for Data Binding are insufficient"
Attempts to reproduce the behavior demonstrated at [Data Binding](https://symfony.com/bundles/ux-live-component/current/index.html#liveprops-stateful-component-properties) fail. The docs appear to be insufficient. For example,
[code]
lacks `<form>...</form>` and `<button>...</button>`. But even when added the value of `max` always reverts to the value in `.../Components/RandomNumberComponent`. Sur

[2022-09-09 18:48] kbond commented on #457
Hey @truckee, are you manually refreshing the page? Does your `$max` property have `#[LiveProp(writable: true)]`? The `<strong>` value should be changing as you type into the input.

[2022-09-09 18:57] truckee commented on #457
Hiya.

... are you manually refreshing the page? If you mean after updating the source code, yes.
Does your $max property have #[LiveProp(writable: true)]? Yes.

Puzzle pieces:
[code]
and
[code]
and
[code]

[2022-09-09 19:16] kbond commented on #457
I'm not terribly proficient with the frontend part of live components. @weaverryan, any ideas?

[2022-09-10 18:45] truckee commented on #457
I misunderstood the intended behavior. I thought that changing the value of max at input would cause the value of `max` to change for the _next_ **Generate a new number**. That is not what I observed. Only today did I note what must be the intended behavior: when the input value of `max` is changed a new random number within the revised bounds **immediately** appears. This behavior is substantiall

[2022-09-10 18:45] #457 closed, assigned to nobody

[2022-09-10 19:38] kbond commented on #457
No worries, glad you got it figured out! Be sure to let us know if you have any suggestion on how the docs could be more clear.

[2022-09-12 07:28] veewee commented on #108
Hello,

In line with this comment, it might be usefull to specify a "namespaces" convention for twig and live components.

This would make it possible to:

* create reusable twig coponents in a twig bundle, that doesn't conflict with your application's twig components. (`someBundle:xxx`)
* implement structures like [atomic](https://bradfrost.com/blog/post/atomic-web-design/) twig components (`atom

[2022-09-12 13:53] kbond commented on #108
My thinking here is to ensure bundles define their own prefix (and template) in their component definitions:

[code]

For this to work, you currently have to customize the template for the component? I guess you're thinking `atom:button` should auto-resolve to `templates/components/atom/button.html.twig`?

[2022-09-12 17:45] bruno-buiret commented on #399
I am also interested in this :)

[2022-09-13 06:25] veewee commented on #108
yes, that looks nice.
Auto resolving would indeed be nice. That way you don't have to specify the template. But I wouldn't mind that much if it didn't autoresolve either.

[2022-09-13 13:50] weaverryan commented on #399
I haven't looked into this yet, but it should be reasonably easy:

A) in the controller, we would likely need to pass the `page` query parameter into the `AutocompleteResultsExecutor` as a new argument: https://github.com/symfony/ux/blob/5f484d6908a1a2dd5cf5cb00712b6009c771257b/src/Autocomplete/src/Controller/EntityAutocompleteController.php#L41

B) In `AutocompleteResultsExecutor`, we would need

[2022-09-15 06:10] norkunas commented on #396
Sorry, looked again to this and found that `useNameAttributesAsModelName` is private but it's in a trait, so I can use it :)

[2022-09-15 06:10] #396 closed, assigned to nobody

[2022-09-15 08:51] FrancoisPog opened #462 "[LiveComponent] Support loading states on an action-by-action basis"
For now, the `data-loading` is added during all actions of the component (see [docs](https://symfony.com/bundles/ux-live-component/current/index.html#loading-states)), but it could be useful to know which action is triggering the loading.

Related to this [message](https://symfony-devs.slack.com/archives/C01FN4EQNLX/p1660246333556999?thread_ts=1660079481.593009&cid=C01FN4EQNLX).

Thanks !

[2022-09-15 13:29] weaverryan commented on #462
I'm working on this right now - the syntax will be `data-loading="action(foo)|addClass(foo-loading)"`.

So, in this case, the `foo-loading` class will only be loaded if the `foo` action has been triggered :)

[2022-09-16 03:36] BafS opened #463 "Directory structure consistency"
Some UX bundles are using the `src/` folder to have the php logic (eg. https://github.com/symfony/ux/tree/2.x/src/Autocomplete) and some are not (eg. https://github.com/symfony/ux/tree/2.x/src/Chartjs).

As discussed in https://github.com/symfony/symfony-docs/issues/15881 it would be great to be consistent, especially in the same repository.

The documentation got updated recently (https://symfony

[2022-09-16 13:10] Rem00756 opened #464 "Dependent Form Field: Ajax is not trigger"
Hello,

I'm currently trying to reproduce this [demo](https://ux.symfony.com/live-component/demos/dependent-form-fields) but once I try to change the selected value : nothing append. I don't have any Ajax request.

I already try to add a basic `<input type="search">` in this component and it's trigger ajax call...

⚠️ I already have other "input search" working well in this project.

reservation_p

[2022-09-16 16:00] #452 closed, assigned to nobody

[2022-09-19 13:43] weaverryan commented on #463
Yes, I think we should probably move things around to follow the convention of using `src/` as we've done in Autocomplete, and a few other packages. Consistency is super important in a mono-repo like this.

[2022-09-19 13:53] kbond commented on #463
We've discussed moving `LiveComponent/src/Resources/*` to `LiveComponent/(root)` but I believe the routing config would be a BC break.

[2022-09-20 15:55] jcrombez opened #469 "[LiveComponent] Select list with no empty choice considered empty"
When using a FormType in a LiveComponent, if your form contains a select field with no empty option, the browser autoselect the first one by default.
But since the form itself had no value for this field, if the user keep the default value, the component data is never updated with it and the user get a validation error for missing value on a field he sees with a value.

[2022-09-21 13:25] weaverryan commented on #469
This looks legitimate to me. In your Symfony form, the field (e.g. `country`) has no value. But since there is no blank value (e.g. "choose a country"), then in practice, the first country in the list is auto-selected. If the user never changes this field, then the first country is never set onto the "live components" data.

I've purposely avoided doing this until now, but the only solution I can

[2022-09-21 13:36] weaverryan commented on #464
I believe that you @Rem00756 solved this by updating some dependencies? Please reopen if i'm incorrect

[2022-09-21 13:36] #464 closed, assigned to nobody

[2022-09-21 13:43] jcrombez commented on #469
I don't know if it's related, i suspect it is but, if some javascript modify a field value, it doesn't update the component state and when the user manually trigger a change, the field is back to its value before any javascript modificaiton.

[2022-09-21 13:46] weaverryan commented on #469
That is a separate issue. If some external JavaScript modifies the value of a field directly, as far as I know, there is no way for live component to "hook into that" (e.g. via a listener) and update the model. That external JavaScript needs to trigger an `input` or `change` event on that element after setting the value. This is something that should be documented

[2022-09-21 14:07] weaverryan commented on #469
I'm working on this in #472 - but the documentation for changing fields via JavaScript is already there :)

[2022-09-21 14:11] weaverryan opened #473 "[Live][RFC] Auto-set field values to data-model"
Hi!

Currently we require you to set the "value" of a `data-model` field:

[code]

The proposal is to *not* require this:

[code]

Instead, on initial load (and re-render), the actual `firstName` model value from your PHP component (i.e. the `$firstName` property) would be used to set the `value` on the input.

This is consistent with the behavior from both Livewire and frameworks like Vue.

[2022-09-21 14:12] jcrombez commented on #469
Thank you :+1:

[2022-09-22 08:19] Rem00756 commented on #464
Yeah. To have a full idea, I made a new project with just this features and I check the packages from my "old" project and this new one. They were differents so I add missings packages to my project.

[2022-09-22 08:38] jvancoillie opened #474 "[Autocomplete] overriding the default query_builder option is not used on ajax autocomplete"
### Description
Overriding the default `query_builder` option is not used on ajax autocomplete, it looks like only the default option is considered.

Also, it is not possible to omit the default configuration (FoodAutocompleteField) of the query_builder otherwise we end up with the same problem as expressed in #420

### How to reproduce
override the default query_builder option in the form (AnyFor

[2022-09-22 10:47] #442 closed, assigned to nobody

[2022-09-22 13:08] weaverryan commented on #474
Hi!

This is true: you really cannot pass/override ANY options when you use an Ajax auto-complete field. This is because, on the Ajax call, we would have no way to re-create your `AnyForm` form (nor are we even aware of it). We simply re-create the `FoodAutocompleteField` and then use its `query_builder`.

There *is* a problem/shortcoming here for sure though. You can see it by looking at this exa

[2022-09-22 13:08] #474 closed, assigned to nobody

[2022-09-22 13:09] weaverryan commented on #474
Btw, the workaround until we have #375 working is to create your own autocompleter as described in the docs or here https://github.com/symfony/ux/issues/391#issuecomment-1209956306

[2022-09-22 15:37] jvancoillie opened #477 "[Autocomplete] group_by option from EntityType does not work on Ajax auto-complete field"
### Description

EntityType's [group_by](https://symfony.com/doc/current/reference/forms/types/entity.html#group-by) option does not work on auto-complete field. The ajax return does not allow us to make a groupment we lose the `optgroup` information

Do you think that with a custom [tom-select extension](https://symfony.com/bundles/ux-autocomplete/current/index.html#extending-tom-select) and a cu

[2022-09-23 10:00] Kocal commented on #22
Can be closed since #426

[2022-09-23 12:01] Kocal opened #479 "[Vue.js] How to access the app instance?"
Hi everyone,

Currently it looks like it's not possible to access the result of `createApp()` in order to add some customisation, e.g. when you want to use a plugin:
[code]

When reading `render_controller.ts` code, I don't see/understand how we can access `this.app`, making plugins (like [Vue Router](https://router.vuejs.org/)) unusable.

Thanks!

[2022-09-23 13:38] kbond opened #480 "[Live][Twig] document `make:twig-component`"
`symfony/maker-bundle` [1.46.0](https://github.com/symfony/maker-bundle/releases/tag/v1.46.0) provides a [`make:twig-component`](https://github.com/symfony/maker-bundle/pull/1019) maker that can make both twig and live components.

[2022-09-23 14:07] weaverryan commented on #479
Hey @Kocal!

I think you need #444 - it's merged, just not tagged yet. All of these events need documentation.

[2022-09-23 14:20] weaverryan commented on #477
Hi!

Hmm, indeed! I see TomSelect supports `optgroup` - https://tom-select.js.org/examples/optgroups/.

I would welcome a PR for this :). What's not clear to me is:

(A) exactly how the JSON structure should change to support the `group_by` (here is where the JSON structure is created - https://github.com/symfony/ux/blob/2.x/src/Autocomplete/src/AutocompleteResultsExecutor.php#L50-L57 )

(B) Exact

[2022-09-23 16:35] Kocal commented on #479
Oh thanks, I wasn't aware about that PR.

Then let's add some documentation :)

**EDIT:** well, I'm not sure to understand how those events work, even by reading the initial PR or the tests, 'guess I will pass my turn 😕

[2022-09-24 09:42] jvancoillie commented on #477
Hi @weaverryan :wave:

Thanks for your reply.

I will try to see what it is possible to do thanks to your leads.

I'll submit a pull request if I can find a solution.

[2022-09-24 10:41] jvancoillie commented on #477
After some research I think it is possible to modify the return json with the following format
[code]
The [`callback`](https://github.com/orchidjs/tom-select/blob/7954b714c1beb43bd0e251915850d103e3113100/src/tom-select.ts#L961) of tom-select can take two parameters `options` and `optgroups`

that can be done like this
[code]
on the other hand it is necessary to add the tom-select configuration for

[2022-09-26 15:13] Wait4Code opened #483 "[Live Component] How to change form default value on user action ?"
Hi,
I have a simple form in a Live Component with a null default value. I would like to change its default value on a user action (click on button). I've seen in documentation that I can edit `$formValues` attribute but it's a bit annoying to do that when the default value is an object : I should map each fields manually.
Apart from doing that, and after a digging a bit inside `ComponentWithFormTr

[2022-09-27 14:01] weaverryan commented on #483
Hi there!

The solution you have is definitely ok, but I'm wondering if it can be easier. Or, if not, if we could make it easier. The `formValues` is intended to be something that you shouldn't need to worry about.

So I think the tricky problem is that the flow is:

A) `changeContact()` is called and you set the new `$this->contact`
B) The component starts to re-render. Because the component data

[2022-09-27 14:12] Wait4Code commented on #483
I like the option 2 and I agree with you about option 1. Plus, the option 2 permits to implement the HTML reset button behaviour which currently does not work due to the fact that form is rerendered each time any field is modified.

[2022-09-27 14:46] #469 closed, assigned to nobody

[2022-09-27 14:46] #473 closed, assigned to nobody

[2022-09-27 15:01] #462 closed, assigned to nobody

[2022-09-28 09:51] rhathas opened #485 "[AutoComplete] TomTemplates type error: Type '{ no_results: () => string; }' is missing"
Hello,
When i try to build with webpack, i get the following error:
`ERROR in /usr/app/vendor/symfony/ux-autocomplete/assets/src/controller.ts(71,13)
      TS2740: Type '{ no_results: () => string; }' is missing the following properties from type 'TomTemplates': 'dropdown', 'optgroup', 'optgroup_header', 'option', and 6 more.`

TomSettings.render is type of TomTemplates (not Partial<TomTemplates>)

[2022-09-28 09:59] #485 closed, assigned to nobody

[2022-09-28 13:30] weaverryan commented on #483
Awesome - I would welcome a PR for this! It shouldn't be too difficult: probably `$this->reset()` form would reinitialize the form object - `$this->formInstance = $this->instantiateForm();`, set some new property like `$avoidSubmit` so that we do not try to submit it in `submitFormOnRender()` and probably `$this->formValues = $this->extractFormValues($this->getForm());` should be called too.

[2022-09-29 11:44] benr77 opened #486 "[Live Component] Are file uploads supported?"
Hello again. I'm trying to do a file upload in a Live Component. I've tried with both `DropzoneType` and the regular `FileType` but running into the same problem I think.

I have been reading related issues #354, #289, #299 etc but I'm unsure of the current state of play. I believe these discussions are only related to using a UX component such as Dropzone inside the Live Component.

Even with a s

[2022-09-29 14:24] kingjulien1 opened #487 "[Symfony UX React] component not rendering"
I configured encore & added the React preset end enabled it, as well as initialized the stimulus bridge with correct entrypoints.

When I try to render a component with `<div {{react_component('MyComponent')}}></div>` the html renders an empty div like so:

[code]

Thanks for any help in advance

[2022-09-29 17:34] tgalopin commented on #487
Hi!

It is actually normal: the rendering is done in JavaScript, the HTML output is empty. Does the behavior work in the browser?

[2022-09-30 07:31] talanon commented on #486
Hey, I tried many things to send file with Live Components. The only way I found is to force norender on my form and to send manually my file with stimulusJS.

`{{ form_start(form, {
                attr: {
                    'data-action': 'live#action',
                    'data-action-name': 'prevent|save',
                    'data-model': 'norender|*'
                }
            }) }}`

I

[2022-09-30 14:17] kbond commented on #486
Hey @benr77,

Not officially supported yet. We want to support this in a way that allows using a filesystem abstractions (Flysystem). I've been hacking on a sort of _symfony-flysystem_ bridge to help with this.

Long story, short, it's definitely on our radar!

[2022-10-03 08:31] benr77 commented on #486
OK, great thanks for the update. I'll just implement my file upload outside of a Live Component for the time being.

This will be a great feature - I'm finding Live Components are so powerful for decoupling my front end I'm trying to use them at every opportunity.

[2022-10-03 11:24] kingjulien1 commented on #487
The code snippet i posted, I actually directly copied out of the browser's element window.
Do I have to include something other than
[code]
in my base layout?

Edit: So it *does* actually render after reseting my browser cache in chrome. however, everytime i make a change to any react component i have to reset cache again. i don't think this is intended behaviour

[2022-10-03 11:43] Avelen opened #488 "[Live Component] Error exeption on live component when HTMLElement is a Commit"
We have a problem with a component where it can't rerender at on error from backend.
We would like to catch these errors and serve them with frontend.
The new version of the library partially has this feature, but we would like to get its revised version.
Currently, when an error occurs, we encounter a situation where the script can't process an HTML entity because it contains a comment.
Please ta

[2022-10-03 13:17] weaverryan commented on #488
Definitely a bug - excellent catch! We can certainly fix this to not "trip over" the fact that the first child is a comment.

To be clear: you would like a new event so you could handle Ajax errors yourself? For example, a `live:response-error` where we pass the `html` and `response` to you? It would go right before this line, if I understand you correctly: https://github.com/symfony/ux/blob/47be7

[2022-10-03 13:19] weaverryan commented on #487
Hmm, it sounds like your browser might be very eagerly holding onto your cached JavaScript. In `webpack.config.js`, change this line - https://github.com/symfony/recipes/blob/85dc7cd2f0049f9a86a6d020691ea217561f33e5/symfony/webpack-encore-bundle/1.10/webpack.config.js#L46 - simply to `.enableVersioning()`. That will enabled versioned filenames even in dev (no real downside to this) and should help

[2022-10-03 21:11] sabat24 commented on #488
Yes, we thought about something like that. In our use case we need to handle a `401 Unauthorized` response. Dispatching such event you mentioned (with `response` for sure and maybe `html` as well) is the most flexible way to handle such things I think. Because it gives a possibility to display some message to user, redirect user to a login page and so on.

What's more I can also imagine not so rar

[2022-10-04 12:47] tdumalin opened #489 "[LiveComponent] Embeded stimulus controller in a live form not working on re-render"
Hi,

I want to use symfony live component to render a form and use some other controller embeded in the form.
Some example may be to use a datepicker. I used this one: https://www.npmjs.com/package/stimulus-datepicker
I've managed to use the controller in the form but when i change an input the component re-render is triggered and the stimulus controller doesn't work anymore.

A solution may be to

[2022-10-04 14:10] weaverryan commented on #489
Hi @tdumalin!

Thanks for the reproducer! That was super helpful! This is definitely an area we want to make smoother, even if it's just via documentation.

In this case, when the Stimulus controller's `connect()` is called, it makes a number of changes to the HTML around your input: https://github.com/airblade/stimulus-datepicker/blob/b672a0da67f28520cd1fc7a3375f44632122a595/src/datepicker.js#L38

[2022-10-05 10:26] tdumalin commented on #489
Hi @weaverryan

Thanks for the help, i tried to apply your advice, with data-live-id containing an unique value, the datepicker can now be used after a re-render but the value of the field is lost on each re-render triggered by another form field.
You can check the behavior by pulling the demo project: https://github.com/tdumalin/bug-live-component.git

Some changes:
- use https://www.npmjs.com/pa

[2022-10-05 16:55] weaverryan commented on #489
Hi @tdumalin!

Ok, I see your random `data-live-id`. I think that's a hacky thing to force people to do (to trigger the re-render), but it's working. Perhaps we should introduce something like `data-ignore="false"` which would mean "ALWAYS re-render"? Or maybe some other attribute would be more clear to mean "always re-render this element on update"?

About the problem, it's a classic problem with

[2022-10-05 18:07] daFish commented on #432
Hey @weaverryan, what would be the best place to implement such an option?

[2022-10-05 19:12] tdumalin commented on #489
@weaverryan

Exactly what i need to know ! thank you for all your explanation, the way live component works is way more clear now.
For info i've pushed a working version of datepicker stimulus controller on my project repository if needed.

Use the data-live-id="{{ random() }}" is some kind of weird, i would say that you should add an attribute called "data-rerender-behavior" with string value lik

[2022-10-05 19:12] #489 closed, assigned to nobody

[2022-10-06 13:04] weaverryan opened #490 "[LiveComponent] Better control over re-rendering behavior (relevant for js widgets)"
Hi!

Inspired by: https://github.com/symfony/ux/issues/489#issuecomment-1268246019

tl;dr: Suppose you have:

[code]

A) You add a JS widget inside your live component - e.g. a date picker - via a stimulus controller
B) That widget modifies the markup of part of your widget
C) On re-render, the modified markup is "reset" back to its original state, effectively killing your JS widget functionality

[2022-10-06 13:07] weaverryan commented on #489
Thanks for the suggestion - I opened an issue at #490 - but I wasn't sure what you had in mind for the `onChange` value.

[2022-10-06 13:17] weaverryan commented on #432
Good question - because I'd love to see a PR for this.

It looks like TomSelect has a `shouldLoad()` option for this - https://tom-select.js.org/docs/

We use `shouldLoad`... sort of right now - just to hide the "No results" message when you are NOT using Ajax. We could allow a new option to be passed into the Stimulus controller - e.g. `minCharacters` - that, when set, we would use to have a prop

[2022-10-07 03:41] norkunas opened #491 "[Autocomplete] Avoiding nested key"
Currently when using autocomplete field, form input is rendered with `name="fieldName[autocomplete]"` or `name="fieldName[autocomplete][]"` if using multiple option.

But this is a little bit unexpected, as on DTO I have validation constraints to expect a list of my entities, but instead now I have to
configure a Collection constraint with autocomplete field and then the inner constraints to expec

[2022-10-07 07:02] tdumalin commented on #490
Hi @weaverryan

Great news that an issue is open to allow a re-render configuration using attribute !
By on onChange i meant the default behavior, maybe default is more appropriate ?
Or may be we should not set the attribute at all, we have to think if that attribute can be changed in some scenario, in this case it may be interesting to able to reset the default re-render

[2022-10-07 08:46] norkunas commented on #491
Nevermind, I found that `AutocompleteEntityTypeSubscriber` remaps data

[2022-10-07 08:46] #491 closed, assigned to nobody

[2022-10-07 09:07] seb-jean commented on #48
close in favor a nice video: https://symfonycasts.com/screencast/symfony-doctrine/forever-scroll 😃

[2022-10-07 09:07] #48 closed

[2022-10-07 09:37] norkunas opened #493 "[Autocomplete] Fails to load provided options if `multiple=true` on submit"
The problem is in these lines:
https://github.com/symfony/ux/blob/7a2eda6af227a65cc1912e25b5ab98c368dc78ce/src/Autocomplete/src/Form/AutocompleteEntityTypeSubscriber.php#L56-L58

~~Doctrine entity repository `findBy` method doesn't support finding entities by array so it always returns empty array.~~
Okay it supports, but only when using plain ID's, but doesn't support when using ID value objects

[2022-10-07 13:00] #493 closed, assigned to nobody

[2022-10-07 14:32] ay-git opened #495 "[ux-vue] Can't use Quasar Framework"
I try add Quasar Framework to project.
Add library:
`npm add quasar`
`npm install`

In vue component add:
`import { useQuasar } from 'quasar'`

After this webpack-encore compile to js bundle Quasar lib

But i can't use Quasar components, browser error:
`[Vue warn]: Failed to resolve component: q-btn`

If I understand correctly, need to add Quasar to the vue app, something like this:
`app.use(useQu

[2022-10-07 14:47] weaverryan commented on #495
Hi there!

To be able to run `app.use(useQuasar)`,  you can listen to the `vue:before-mount` event, which was recently added (it's on the latest 2.x branch, but not released yet).

The simplest way to do this would be to put this, for example, in `assets/app.js`:

[code]

You could also put this code inside a custom Stimulus controller that goes onto the same element as your "Vue" controller of a

[2022-10-07 16:02] jvancoillie opened #496 "[Autocomplete] dynamically set no_more_results_text with ajax autocomplete"
Hello,

Would it be possible to dynamically set the text "no_more_results_text" during the ajax autocomplete with the total number of results found.
No more results is misleading.

Thanks.

[2022-10-07 18:51] ay-git commented on #495
Thanks @weaverryan !

Try use  `vue:before-mount` event

Implement this patch:
https://github.com/symfony/ux/pull/444/commits/86fa0c8423814fe72e47465882429602a537a020

Event `vue:before-mount` is work
Add to `assets/app.js`:
[code]

Quasar Framework is work!  But no styles.

Edit: correct comment, need `import { Quasar } from 'quasar';` instead of `import { useQuasar } from 'quasar';`
**Upd: See t

[2022-10-07 20:21] weaverryan opened #497 "[LiveComponents] RFC: change default behavior to set model on "change" instead of input"
Right now, if you have:

[code]

Then the model will be set (and an Ajax call will be made to re-render) *while* your typing. It waits until you stop typing for a moment (debouncing), but if you typed `Ryan` (short pause) then ` Weaver`, that would create 2 Ajax requests.

You can currently alter this behavior to not send the Ajax request until the field *changes* with:

[code]

For an input field

[2022-10-07 21:38] ay-git commented on #495
While styles added like UDM:
`<link href="https://cdn.jsdelivr.net/npm/quasar@2.9.1/dist/quasar.prod.css" rel="stylesheet" type="text/css">`
They work.

I have not yet figured out how to install them correctly through `webpack-encore`

**Upd: See the post below "Final instruction to use Quasar Framework on ux-vue"**

[2022-10-08 21:43] ay-git commented on #495
**Final instruction to use Quasar Framework on ux-vue**
_**Disclaimer:** this instruction be work after this patch https://github.com/symfony/ux/commit/86fa0c8423814fe72e47465882429602a537a020 released, now not released yet!_

Add library:
[code]
_Module `@quasar/extras` need for add fonts with material-icons_

Add to assets/app.js:
[code]

**Everything is ready, you can use `Quasar` tags in your

[2022-10-09 18:09] ay-git commented on #495
The use of plugins in Quasar is also not standard, what is written in the Quasar documentation does not work.
Therefore, what I write here is an example of using plugins

**Work example of using plugin Notify for Quasar:**
assets/app.js:
[code]

in test.vue file:
[code]

[2022-10-10 13:44] weaverryan commented on #495
Thanks for posting your solution!

[2022-10-10 13:44] #495 closed, assigned to nobody

[2022-10-10 16:06] weaverryan opened #501 "[Live] Clear error when a component renders with more than one root component"
Currently, if you make a mistake and have more than 1 root component, things fail silently. We should have a clear error.

This somewhat relates to #488, where we need to be careful to skip non-elements when looking for the 1 root element.

[2022-10-11 09:46] alzee commented on #181
I have the same issue too and have the same configuration files as @eraelpeha.
And my versions:
`"symfony/ux-chartjs": "v2.4.0"`
`"symfony/webpack-encore-bundle": "v1.15.1"`
`"@symfony/stimulus-bridge": "3.2.1"`
`"@symfony/webpack-encore": "3.1.0"`

Hope it got fixed soon. Before that, I'm gonna use chartjs the frontend way.

[2022-10-11 17:16] weaverryan commented on #181
Hi everyone!

If someone can publish a reproducer library on GitHub, I can take a look.

The original poster @MiroYld did post a reproducer, but it turned out the issue was that `{{ encore_entry_script_tags('app') }}` was never called, so the built JavaScript files were never rendered onto the page. In this situation, the `<canvas` element WILL render onto the page (this is rendered on the server)

[2022-10-11 18:50] eraelpeha commented on #181
Hi everyone,

in the meantime I've solved my problem. I've required bootstrap as mentioned above, but indeed that was the css-Framework that got included. I made a separate `import './bootstrap.js'` (note the .js as the only difference...) in my `app.js` file and it worked like a charme.

Hope this helps!

[2022-10-12 13:39] weaverryan commented on #181
I'm going to close this - I think the issue is just various mis-configurations of UX itself (e.g. not having the `encore_entry_script_tags()` or not importing `./bootstrap.js`. Hopefully this issue can help people who have related problems in the future :)

[2022-10-12 13:39] #181 closed, assigned to nobody

[2022-10-12 13:47] #432 closed, assigned to nobody

[2022-10-14 14:09] #399 closed, assigned to nobody

[2022-10-18 14:08] weaverryan opened #508 "[Live] Investigate resetting form values when underlying "data" is modified"
Currently, if you trigger a live action where you perform an action that will change the form (e.g. you add a new "item" to a `CollectionType`), you do this by manipulating the underlying "form values": https://github.com/symfony/ux/blob/2.x/src/LiveComponent/src/LiveCollectionTrait.php#L42

It would be nice if you could modify the data on your underlying entity, and the have the form rebuild from

[2022-10-18 14:30] jcrombez opened #509 "[Live] Add a variant to "data-live-ignore" limited to a single dom element and not its children"
We currently have the `data-live-ignore` attribute to exclude a portion of our DOM from the live component render.

When a closed modal is part of a live component and the user opens it (client side), any later render would replace the modal by its initial dom, resulting in getting closed (usually). If the content of said modal is dynamic and needs to be updated by a render, adding the `data-live-

[2022-10-18 14:41] norkunas commented on #509
Same as #270 I guess? 🙂

[2022-10-18 14:45] jcrombez commented on #509
oh you're right it's the same !

so for the record, livewire calls it :

`wire:ignore.self`

[2022-10-18 15:16] weaverryan commented on #509
I forgot about that issue too - thanks @norkunas 👍 . Very cool that you both had the same example - that validates the need for the feature for that use-case.

[2022-10-18 15:16] #509 closed, assigned to nobody

[2022-10-18 16:14] MantraMediaMike opened #510 "[Live] Component not working after reentering page - Chrome"
If you leave the page where the component is initialized and come back eg via browser back / forth the component does not work anymore.

Tested further, only happening on Chrome.

Possibly solved in https://github.com/symfony/ux/pull/436 ?

[2022-10-19 14:46] #510 closed, assigned to nobody

[2022-10-24 09:13] daFish commented on #7
@yassinehamouten Would it be ok for you when I create a PR with your changes?

[2022-10-24 13:16] WebMamba commented on #438
Hello, I am facing the same issue as @tacman. I use a twig function to genera a twig component. Thanks @kbond your little autowiring tricks work great! But I definitively think the component renderer should not be internal. Generate dynamically twig component can be useful in many way 😁

[2022-10-24 13:38] kbond commented on #438
Sure, did you want to make a PR to remove internal? Let's make the constructor internal though. You can also make it autowireable too if you'd like.

[2022-10-24 13:42] ghost commented on #361
Confirmed the problem still exits

[2022-10-24 15:14] WebMamba commented on #438
@kbond https://github.com/symfony/ux/pull/513 here we are 😁

[2022-10-25 13:13] weaverryan commented on #361
I'm not sure what controls that - but I'll ping someone smarter than me to look into it :)

[2022-10-25 14:57] simondaigre opened #514 "[Live] Allow to edit component route"
Following our discussion with @weaverryan

I have a use case where I need to specify my component's route.
I have a website with two firewalls (front + back). Back firewall is registered on all `/back*` routes on `security.yml`.
I need to get the current logged in back user on my Live component, but because all components are registered on `_component/` routes, I can't.

[2022-10-25 15:02] simondaigre opened #515 "[Live+Autocomplete] Wrong behavior of Autocomplete with dynamic forms"
I have a Live component form with a Autocomplete input.
Autocomplete input is added or not depending on other form inputs.
When Autocomplete field is removed, tomselect field are not removed, because of data-live-ignore.

[2022-10-25 15:33] JML75 commented on #7
hello

not sure what your are talking about.

best

JML

Le 24 oct. 2022 à 11:13, Marcus Stöhr ***@***.***> a écrit :

@yassinehamouten <https://github.com/yassinehamouten> Would it be ok for you when I create a PR with your changes?

—
Reply to this email directly, view it on GitHub <https://github.com/symfony/ux/issues/7#issuecomment-1288703844>, or unsubscribe <https://github.com/notifications/

[2022-10-26 04:38] norkunas commented on #515
Experiencing similar thing, in a multi-step form with live component:
 - One step is with checkboxes which determines how many next steps will be rendered after; If selected at least 2:
 - Next step is filled with all require data;
 - Goes to one more next step which shows the same form, but the autocomplete shows the data from the previous step, thus always saying that the input should not be bla

[2022-10-26 13:21] weaverryan commented on #515
To "fix" autocomplete + live components, I added `data-ignore` to it. This was (is) the only tool I had at my disposal at that time. But, it's too strong because if

* (A) that field completely disappears
* or (B) it renders, but has some changes to it (i.e. maybe its value should be reset to blank or it's now autocompleting from a different URL)

the field just "Stays as it is". This relates to #

[2022-10-26 15:14] simondaigre commented on #515
I didn’t tested but what actually happens if I changes select options of a Autocomplete input ?
Because of the data-live-ignore, options are not updated.

IMHO all JS elements should be reinitialized when live updating.

[2022-10-29 04:56] nicodemuz opened #517 "How to use the cropper with a file upload form?"
Seems like the current implementation always requires a public image URL that should be cropped?

Is it possible to embed a file upload dialog to be used with the cropper?

It would be great if there's integration with Vich uploaded bundle.

[2022-10-30 17:12] #438 closed, assigned to nobody

[2022-10-31 10:54] dkarlovi opened #518 "[Turbo] allow adding an "interceptor controller" to the route which gets invoked when the request is a Turbo Stream compatible request"
When you want to add streams to an existing app, my idea is to

1. register a new controller which listens to the same route as the original, but expects the correct `Accept` header
2. it forwards the request to the original controller, without the `Accept` header
3. it then allows rendering a separate response either based on 2. response or something else entirely

See a functional example here,

[2022-10-31 12:49] dkarlovi commented on #518
This concept seems to be somewhat harder to understand from comments in Symfony Slack so I'll try to outline it a bit better here:
1. you have an existing route, say
[code]
2. this route works like `POST /cart/add, product=123`
3. we add a new route
[code]
4. this route works like `POST /cart/add, product=123, Accept: text/vnd.turbo-stream.html`
5. the `CustomStreamsSpecificCartController` does so

[2022-10-31 13:57] weaverryan commented on #518
Hi!

To help make sure I understand, can you state the specific problem? Is it that in your original `/cart/add` controller, you want to avoid adding the `TurboBundle::STREAM_FORMAT === $request->getPreferredFormat()`? Or is it that the `/cart/add` controller is something that you can't modify (I noticed you used `Some3rdPartyCartController` in your example)?

cheers!

[2022-10-31 14:07] dkarlovi commented on #518
Correct, I can't modify it. Imagine this is happening from a bundle.

But also, the approach I'm looking at here seems a bit cleaner since you're opting in to Streams per route.

[2022-10-31 15:50] dkarlovi commented on #518
Creating routes seems impossible so I'm replacing `_controller` from an event listener. I'm not super happy about this, but it's better than nothing, this is my event subscriber:

[code]

I pass something like

[code]

map to it, it gets created in a compiler pass from a tag.

The controller looks like this

[code]

Closing.

[2022-11-01 14:40] weaverryan commented on #517
Currently, it's built to be a multi-stage process:

A) Step 1 upload the file and save somewhere.
B) then, Step 2, redirect to another page and then crop that image

Semi-related, uploading in general should be improved and we're working on that :)

[2022-11-01 14:42] weaverryan commented on #515
Indeed, I think this is almost always what you want. However, the edge-case we want to avoid is that you (A) type into a `firstName` field then (B) start typing into your auto-complete field. But then, after typing 2 characters, the live component Ajax call from updating `firstName` completes, and your auto-complete is reinitialized while you're typing. So, we need to "reinitialize always"... exce

[2022-11-02 12:25] dkarlovi commented on #518
Thinking on this further, this still seems like it could be a nice addition, maybe I need to reword the idea.

[2022-11-02 12:31] dkarlovi commented on #518
@weaverryan updated the description, would love to know your feedback if any.

[2022-11-02 13:47] weaverryan commented on #518
I'm not convinced yet, but it's worth iterating on here to think about it. What if you allowed the original controller to execute like normal. Then, on a `KernelEvents::RESPONSE`, you have a listener. This listener would be passed some sort of array (or more technically, locator) of "handler" objects, which are somehow linked to specific controllers or routes. The listener would find the correct h

[2022-11-02 14:06] dkarlovi commented on #518
Yes, that could also work. My approach focused on "intercepting the request", but what it ends up doing is intercepts the response. Nice idea! :+1:

[2022-11-02 14:09] dkarlovi commented on #518
So the response listened would only be registered if there's any "stream formatters". It would only trigger if it's a stream request. If the route matches, the formatter(s) are triggered. I could see that being useful.

[2022-11-02 14:17] dkarlovi commented on #518
The locator could be the existing DI service locator, with each service an iterable of formatters, keyed by route name. It could leverage all the existing Container stuff to make this pretty easy to implement.

[2022-11-02 15:23] weaverryan commented on #270
See #519 for the proposal. For a modal, you would use `<div data-rerender="children">`. This would mean that the parent component is "ignored", but then children re-render via the normal mode of "diffing" the old and new elements via morphdom.

[2022-11-02 15:24] weaverryan commented on #490
See #519 for the proposed syntax :)

[2022-11-02 15:24] weaverryan commented on #515
See #519 for a proposed solution

[2022-11-03 18:25] gurgenhakobyan opened #522 "[Vue.js] Error during build and in terminal (yarn encore --dev watch or yarn build)"
I have one strange problem. When I include a component inside another another component (controller) I get not found error in terminal and when running yarn build.

But everything works as expected in the browser and no console errors.

So I'm Trying to include Loading.vue component inside CRUDIndex.vue file (which is a controller as described in Symfony UX documentation).

I opened issue here and

[2022-11-04 07:19] gurgenhakobyan commented on #522
Update: When I remove .enableTypeScriptLoader() from webpack.config.js and remove all types the error is gone.

So typescript is not supported?

[2022-11-04 11:16] dkarlovi commented on #518
OK, I did just that: response subscriber which gets injected with a service locator keyed by route name.

[2022-11-04 11:16] #518 closed, assigned to nobody

[2022-11-04 12:30] weaverryan commented on #522
Hey!

Can you what your parent `CrudIndex.vue.ts` looks like?

Could this be the issue? https://github.com/symfony/webpack-encore/issues/702 - it sounds like, if anything, an Encore problem.

[2022-11-04 13:01] jcrombez opened #525 "[ux.symfony.com] PHP Attributes not copy/pastable"
It's a minor feedback but it's always better for adoption if the dev ux is the smoothest :p

Example : https://ux.symfony.com/autocomplete

You can't select `#[AsEntityAutocompleteField]`, i guess the highlight library consider this is a comment.

[2022-11-04 13:37] gurgenhakobyan commented on #522
It could be. I ended up removing typescript related stuff. But anyway there wasn't CrudIndex.vue.ts it was just CrudIndex.vue  and inside of it just included another component and everything was working in the browser, except that terminal error, so very likely encore problem.

I'll try to bring back typescript support and try the solution and see if the suggested solution in your provided link wo

[2022-11-04 15:37] kbond opened #526 "[Live] scalar type coercion when hydrating"
If a component property's type-hint is `int` and you try to hydrate with `''`, you get an error. I propose we automatically cast simple, scalar types:

- `int`: `''` or `'  '` => `0`
- `float`: `''` or `'  '` => `0.0`
- `bool`:  `''` or `'  '` => `false`
- `?int`: `''` or `'  '` => `null`
- `?float`: `''` or `'  '` => `null`
- `?bool`:  `''` or `'  '` => `null`

How to handle?
- `int`: `'apple'`?

[2022-11-04 17:47] weaverryan opened #527 "[Live] Adding a custom Stimulus controller to a live component"
Sometimes you'll want to attach a stimulus controller to the root element of your live controller. Currently, you might try this:

[code]

But, I don't think that works, as I think we're always setting `data-controller` to `live`: https://github.com/symfony/ux/blob/2a4997497b3d1d17e7e731a23f6fa33067d14bc0/src/LiveComponent/src/EventListener/AddLiveAttributesSubscriber.php#L102

Also, that's a pret

[2022-11-04 19:00] weaverryan commented on #525
From Slack, we determined that (A) we could fix this by overriding some CSS that adds `user-select: none` to "comment" code. Or, (B), it looks like the latest highlight.js probably handles PHP attributes correctly. So the better solution would be to abandon the highlight.php we're using and use the JS library instead.

[2022-11-04 19:13] weaverryan opened #528 "[RFC] Handling Data with Bad Types (i.e. that fails hydration)"
Hi!

Consider this component:

[code]

In the template, it's bound to an input:

[code]

What should happen if I enter `apple` into that box? (Note, yes we could use `<input type="number">`, but there are other examples , like a `DateTime` property where an invalid date time string is passed).

I can only think of two options:

A) We advise to NOT use property-types for writeable properties. The i

[2022-11-07 08:20] DavidBouscarle opened #533 "Live Change / ux-cropperjs"
Hi there!

I am currently working on a form to modify a user's personal data.
I inject the cropperType since the construction of my form as well as my input related to VichUploader.
The idea is to listen to the change on the input of the avatar from cropper_controller.js, to transform it into Image js and then to replace the image of the cropper live with the method replace() for example.
Can I cu

[2022-11-07 14:22] weaverryan commented on #533
Hi @DavidBouscarle!

Would you be able to post some code showing what you're trying to do - as much PHP and JS code as possible? That will make it much easier to see if what you want is possible, or if we need to add some new feature :).

Cheers!

[2022-11-07 14:29] #526 closed, assigned to kbond

[2022-11-07 15:56] weaverryan opened #535 "[Live] Unfriendly JS error if you forget to expose a LiveProp then use it"
Relates somewhat to #425, where this system may be changed.

Pretty simple:

[code]

Then in the template:

[code]

This results in an ugly JS error:

[2022-11-08 16:13] DavidBouscarle commented on #533
Hi @weaverryan !

Happy to see you! I Hope you're doing well.

Here are the files related to the logic of the form rendering.
The AvatarType is obviously not the only field in the form.

See you!

AvatarType.php
[code]

cropper_controller.js
[code]

ServiceProviderComponent.php
[code]

form.html.twig
[code]

[2022-11-08 21:32] manuelkiessling opened #537 "[Live] Triggered actions result in UnprocessableEntityHttpException due to "Invalid or missing checksum" error in LiveComponentHydrator"
I've just upgraded from UX `2.4.0` to `2.5.0` in my Symfony `6.1.7` / PHP `8.1.11` project, and all UX Live Component actions no longer work - they do trigger a POST as expected, but the backend responds with HTTP status `422 Unprocessable Entity`, due to an exception thrown by [`LiveComponentHydrator.php:129`](https://github.com/symfony/ux/blob/2.x/src/LiveComponent/src/LiveComponentHydrator.php#

[2022-11-09 06:45] xaviermarchegay commented on #537
I had a similar issue until I compiled the assets (the javascript was updated too).

[2022-11-09 10:48] manuelkiessling commented on #537
@xaviermarchegay I've also run `npm run update` and `npm run build`, but this doesn't change the situation for me. I've verified that the NPM dependencies have also been updated to the 2.5.0 version.

[2022-11-09 14:34] StrahilRuychev opened #540 "[Live] Rendering a list of nested components"
Live Components version 2.5
In the parent component I am rendering a list of translation objects inside a table with a table row for each translation. Inside each row, in one of the td elements I am rendering a child component that implements functionality to edit the text property of the translation object.
The parent component has a form with several fields to search for specific translations on

[2022-11-09 14:46] weaverryan commented on #540
Hi @StrahilRuychev!

A lot of under-the-hood changes occurred with live components 2.5, so this is most certainly a bug. Question: is the child element normally attached to the `<td>`? Or is it attached to the `<div>` inside the `<td>` (as shown in the screenshot)? Also, do you have any JavaScript errors?

Thanks!

[2022-11-09 14:56] StrahilRuychev commented on #540
Hi @weaverryan
The child component is attached to a div which is inside a td element.
No JavaScript errors that I can see.

[2022-11-09 14:56] weaverryan commented on #537
Thanks for the very clear bug report including the payloads before and after! And yes, there were quite a few BC-breaking changes, but what you're experiencing should not be happening.

Your 2.5 payload, indeed, looks way too small. Apart from many of your models being missing, it's obviously missing the `_checksum`. What does your root component element look like when it's rendered? Specifically,

[2022-11-09 15:02] weaverryan commented on #540
Thank you! If you're able to build a reproducer repository, that would be very helpful. Otherwise, I will try to build one soon so that we can dig into the root problem.

[2022-11-09 18:35] StrahilRuychev commented on #540
@weaverryan Hi,
here you are:
https://gitlab.com/straho99/translations-demo

One more question. With version 2.5 I get way more ajax requests than with version 2.4. Before I had only one request to update the parent component. Now I get one ajax for the parent, and one per each of the child components (which can be in the hundreds). The child ajax requests in this case are really not needed as the

[2022-11-09 20:59] manuelkiessling commented on #537
It's the first one. I've digged into it for a while now, but still have no idea where this issue comes from. Therefore, allow me to share some more code.

First, here is the gist of my LiveComponent:

[code]

Here is - again only the "gist" - of the component template:

[code]

And finally, here is the result, fresh from the rendered DOM:

[code]

[2022-11-09 21:13] manuelkiessling commented on #537
To corner the problem, I have just re-created the "random number widget" by following the docs to the letter, and the result works, with the resulting DOM looking like this:

[code]

[2022-11-09 21:30] manuelkiessling commented on #537
Ok, things look a tad better now, although it's still not back in a working state.

The "way-to-slim" POST payload was likely due to me not updating the Node dependencies via NPM (I've only now realized that I ran into another issue after doing so, not realizing that the error now lies elsewhere).

The 2.4 payload looks like this:

[code]

The 2.5 payload, after updating the PHP side via Composer

[2022-11-10 08:23] norkunas opened #542 "[TwigComponent] Component refs"
Currently when you use `component` twig function, it immediatelly renders the component.
I'd like to have a possibility to get the component ref and modify it if needed before rendering.

For example rendering a table with custom components:
[code]

When using it I need to pass the `align` prop down to the TableCell components:
[code]
What I'd like to have is:
[code]

Is it feasible? Or there are

[2022-11-10 13:31] weaverryan commented on #542
Hey norkunas!

Interesting. I’ve never seen someone try to pass component objects into a component. I would have solved this by passing, as the children prop, an array of some sort of TableCell DTO, then called component() and used the data from that DTO to pass props to TableCell. However, I do see how having a TableCell component and then a TableCellDto with the same data seems a bit silly. And

[2022-11-10 13:34] weaverryan commented on #537
Glad you got this much closer when you updated the deps completely. The code causing the error is, indeed, part of a whole new system from 2.5 related to child components. Do you have a child component setup - where you render a component inside of another? And is it possible that, when a parent component Re-renders, one or more of the children is removed/not present anymore (this is a valid thing

[2022-11-10 14:54] kbond commented on #542
Interesting indeed.

So we could add a `mount_component()` twig function that returns a `MountedComponent`. Then we could allow `component()` to accept `string|MountedComponent`. So the example above could look like:

[code]

Some notes on this approach:
1. Would require removing `@internal` from `MountedComponent`
2. Would require adding `render()` to `ComponentRendererInterface`
3. The `PreCreat

[2022-11-10 15:07] norkunas commented on #542
If MountedComponent would accept EventDispatcher then it could call :)

No problem, as it would be opt-in :)

Also maybe MountedComponent could also have a `ComponentRenderer` injected into it and have a `__toString()` method which would call the renderer? Then in templates it'd enough to use {{ child }} instead of {{ child.render() }} or something like that..

[2022-11-10 15:15] kbond commented on #542
I was thinking this as well. We'd need to register `MountedComponent` with the escaper extension so the html isn't escaped. This would add quite a bit of complexity though.

I don't think this event quite makes sense in this context. This event allows you to modify the rendered string before mounting the component.

[2022-11-10 20:40] xaviermarchegay opened #543 "[Live] With nginx and http2, the "Content-Type" header is stripped in a 204 response"
Pre-requisites:
* nginx with http2
* redirection in a LiveAction
* symfony/ux-live-component v2.5.0

Steps:

* Any redirection in a controller with a LiveAction
* Symfony returns a 204 response with a specific header  Content-Type - [\Symfony\UX\LiveComponent\EventListener](https://github.com/symfony/ux/blob/2.x/src/LiveComponent/src/EventListener/LiveComponentSubscriber.php#L283)
* Nginx drops th

[2022-11-11 10:28] iampedropiedade opened #545 "Extending Tom Select with a custom Stimulus controller"
I've followed documentation for extending TomSelect with a custom Stimulus controller.
https://symfony.com/bundles/ux-autocomplete/current/index.html#extending-tom-select

However, when I added the attr option:
[code]
the select element became a regular select instead of a TomSelect.

The only way I got it to work was by adding both my custom Stimulus controller and the default controller, like th

[2022-11-11 11:37] weaverryan commented on #543
Let’s drop the header during the redirect (which is when we have an empty body) and, instead, add a 2nd header - something custom like X-Live-Redirect. Then, in the javascript, only throw the error of the content-type is wrong/missing AND that special header is missing.

I’d welcome a PR of you’re open to it :)

[2022-11-11 14:50] xaviermarchegay commented on #543
@weaverryan done :)

[2022-11-12 11:00] norkunas commented on #542
Should I try to come up with a PR?

[2022-11-12 13:34] kbond commented on #542
I think I'm ok with the approach described here: https://github.com/symfony/ux/issues/542#issuecomment-1310414604

For now, I don't want to make the mounted component self-renderable.

[2022-11-12 14:46] #543 closed, assigned to nobody

[2022-11-13 19:57] simondaigre opened #549 "[Autocomplete] 500 when using multiple=true on a not required field"
Since https://github.com/symfony/ux/pull/494, Autocomplete fields doesnt work for not required inputs.
The error : `SELECT o FROM App\Entity\City o WHERE o.id IN ()`

[2022-11-13 20:57] 1ed commented on #545
I think it's just a documentation issue, you should add `'autocomplete' => true,` to options.

[2022-11-14 05:00] norkunas commented on #542
But then I'd need in twig to do many additionals check for each part where `MountedComponent|string` is accepted to call the `component()` if not rendered, yes?

[2022-11-14 06:56] norkunas commented on #542
https://github.com/symfony/ux/compare/2.x...norkunas:component-refs?expand=1

[2022-11-14 06:56] norkunas commented on #542
https://github.com/symfony/ux/commit/c82abf5e45b1e73a5c95ea62dfd9994c1af05c65

[2022-11-14 08:05] iampedropiedade commented on #545
I'm using a custom #[AsEntityAutocompleteField] field type though, not an EntityType.
That option doesn't exist.

[2022-11-14 09:35] 1ed commented on #545
Oh, in that case `'autocomplete' => true` is added automatically.
Do you have a lazy controller? See https://github.com/symfony/ux/pull/550/commits/bfb7db737ecd19913c16aa721d17ab40e6a10464

[2022-11-14 10:03] iampedropiedade commented on #545
I don't have that `stimulusFetch` option so I assume it's not lazy?

[2022-11-14 10:46] 1ed commented on #545
It also can be managed by `assets/controllers.json`, but `"fetch": "eager"` is the default, there. I have no other idea and I can not reproduce your issue, please create a reproducer we can check. You can use mine as a starting point https://github.com/1ed/ux-autocomplete-extend

[2022-11-14 11:56] kbond commented on #542
I'm still a little hesitatant to add this feature but the change does seem pretty simple. Go ahead an open as a PR.

[2022-11-14 12:20] rdavaillaud commented on #527
Hi Ryan,

I stumbled upon the subject today.
What about instead of using `attributes`, use a `live_controller()` function returning a `StimulusControllersDto`.
As `stimulus_controller` is also a filter, we can have something like:

[code]
This will unfortunately tie the ux code to `webpack-encore-bundle`, this may be not wanted.

Maybe we can add to this webpack bundle a filter `toStimulusControll

[2022-11-14 16:52] 1ed opened #553 "Stimulus controllers are not loaded when navigating with turbo"
Hi, using stimulus controllers with turbo should work out of the box, or am I missing something?

When I click a link and turbo loads the new page stimulus controllers are not run. When I reload the page it works.

There is a reproducer here: https://github.com/1ed/ux-autocomplete-extend

What am I missing?

[2022-11-16 06:50] veewee opened #555 "[TwigComponent] data-model"
Hello,

We figured out that there is a [data-model subscriber](https://github.com/symfony/ux/blob/2.x/src/TwigComponent/src/EventListener/DataModelPropsSubscriber.php) in twig components which allows you to:

[code]

[code]

I was wondering:  Why don't you just want to pass `{value: someParentComponentProp}` as the textarea_component attributes here?

The problem with the data-model here is that i

[2022-11-16 13:07] norkunas commented on #555
I got this error also. Thought that is something specific to my app, but looks like not..

[2022-11-17 11:30] norkunas opened #556 "[LiveComponent] SVG is not updated on rerender"
I've tried to render a SVG in a live component. And after re-render if component renders a different SVG, it is not updated.

[2022-11-17 19:31] manuelkiessling commented on #537
@weaverryan Ok, so I could solve it. The cause, however, is either rather curios, or I'm overlooking something obvious.

The problem indeed occured if one Live component contained another Live component. But only if the outermost DOM node of the "inner" Live component is not a `div`.

Thus, this works:

[code]

while the following results in the aforementioned `Failed to execute 'replaceChild' on

[2022-11-21 10:47] splyy opened #558 "[LiveComponent] No redirect after submission"
Hello,

I have a strange problem with the LiveComponent module.

I use LiveComponent in a modal, to render a form (quick add) and update a user list directly when closing this modal :

[code]

And my component simply create user, send an email and then redirects to the listing
[code]

When creating a User, on my local machine, everything works as intented and the list is reloaded without a hitch.

[2022-11-21 11:45] xaviermarchegay commented on #558
@splyy Something about https://github.com/symfony/ux/issues/543 ? Maybe a header is missing.

[2022-11-21 12:42] splyy commented on #558
@xaviermarchegay

I update the LiveComponentSub,scriber from vendors based on your PR, and thanks to this modification I reproduce the problem on my local machine :thinking:

However, when I look at the response in the profiler, i got this :
![Capture d’écran de 2022-11-21 13-39-22](https://user-images.githubusercontent.com/8821560/203057714-7613f2d8-b2fd-4b1f-a108-03075efe213a.png)

Which makes m

[2022-11-21 13:03] splyy commented on #558
Thanks @xaviermarchegay your PR resolve the problem :+1:

waiting new tag :eyes:

[2022-11-21 13:20] #558 closed, assigned to nobody

[2022-11-21 18:10] weaverryan commented on #537
Thanks for the clarification! It's definitely a bug - there is no limitation. But we're doing some fancy things in the latest version with the "outer tag" and child components, and apparently there is a problem with some of that. I'll check into it more deeply.

[2022-11-21 18:20] weaverryan commented on #555
Indeed, the `data-model` syntax is unique because it means two things. For example, for `'data-model': 'value:someParentComponentProp'`, it means:

A) Pass a `value` prop to the child component
B) When that `value` component is updated in the child, also update `someParentComponentProp` on the parent.

It's (B) that makes it unique vs just passing a `value` property manually.

But, I do think ther

[2022-11-21 18:50] veewee commented on #555
The big problem here is that it is not consistent with how you define data-model inside live components.
Inside live components, there is no `targetProp:currentValue`. This makes it impossible to pass down the live components version of data-model to a twig component.

I'm trying this:

[code]

Where this data-model is configured in a symfony form through the attrs field.

The form is rendered ins

[2022-11-22 19:10] #463 closed, assigned to nobody

[2022-11-24 12:39] parktrip opened #560 "[ux-react] cannot render example component"
Hi,

i am giving a try to this and followed the instructions available on this page: https://symfony.com/doc/current/frontend/encore/reactjs.html

i have created a small 'Bonjour' controller:
[code]

then i just call it in by base twig template:
[code]

the component is not rendered but it seems Twig is doing something anyway: in the generated html code, i can see this:
[code]

no error in the jav

[2022-11-24 14:12] BahmanMehrdad commented on #553
@1ed I tested `https://github.com/1ed/ux-autocomplete-extend` and it ran without problems. It is better to clear the browser cache and Symfony cache. Also clear `public/build` path and rebuild the assets.

[2022-11-24 15:52] #456 closed, assigned to nobody

[2022-11-25 13:53] parktrip commented on #560
Solved it.
Even if it was pretty stupid, i am putting it here, in case someone run into the same issue.

The problem was i didn't have this line in my app.js file:
``
import './bootstrap';
``
that imports the bootstrap.js file from symfony-ux.

Normally the recipe adds it but i don't have my app.js file in the normal location. so, my bad.
Hope this could help, i am still surprised no error nor exc

[2022-11-25 13:53] #560 closed, assigned to nobody

[2022-11-25 14:07] simondaigre commented on #549
@norkunas would you take a look at this issue ?

[2022-11-25 14:16] norkunas commented on #549
I'll try. In which case it queries without a criteria?

[2022-11-25 14:24] simondaigre commented on #549
Sorry my GH issue description was wrong. The issue happens when :
- the autocomplete field is not required
- nothing was selected in the autocomplete field
- the whole form is submitted

[2022-11-25 14:25] norkunas commented on #549
Only with multiple case?

[2022-11-25 14:29] norkunas commented on #549
I've opened a PR, maybe it will fix your case?

[2022-11-25 14:35] simondaigre commented on #549
Yes it does, thank you !

[2022-11-26 13:59] 1ed commented on #553
Yeah, thanks! That was a caching issue.

[2022-11-26 13:59] #553 closed, assigned to nobody

[2022-11-27 15:36] tacman opened #563 "[TwigComponent] Overwriting component and template paths"
I'm restructuring my theme bundle to accommodate swapping out specific stylesheets and javascript, and am not sure how to configure the twig components.

What I'm shooting for:

* bootstrap-bundle: loads bootstrap and components examples from the bootstrap site
* sneat-bundle: uses the free sneat theme
* velzon-bundle: uses a paid theme

The goal is that free/open source projects can require sneat

[2022-11-27 15:43] kbond commented on #563
Hmm, possible to only enable the components in the container under certain conditions? (So only one say menu component is ever available)

[2022-11-27 20:43] tacman commented on #563
yes, or prioritize the components, so if there are multiple ones.  Or namespace them?

Just brainstorming.

Again, I love Twig Components.  I've converted all my macros (except the knp_menu) and most of my non-trivial twig functions/filters to Twig Components, and can't imagine going back.

I do wish PHPStorm was aware of them though!

[2022-11-27 20:58] kbond commented on #563
Your idea does sound cool (using without namespacing). In principal, it allows switching "themes" easily.

Does adding a `priority` work with service locators?

[2022-11-28 11:22] trsteel88 opened #565 "Library is always trying to override package.json"
For some reason this package is always trying to override package.json. It's actually lowering the versions on some packages too.

How do I stop this?

[2022-11-28 11:36] jmsche commented on #565
It's related to Flex, see https://github.com/symfony/flex/issues/938

[2022-11-28 13:37] stefliekens opened #566 "[Live Component] Feature proposals: easily configure norender/filters + prevent form validation"
Hello,

We are using `Symfony\UX\LiveComponent\ComponentWithFormTrait` to make the forms in our application "live" to dynamically add or remove fields based on chosen select options (`FormEvents::POST_SET_DATA`) and handle form validation + submissions via AJAX.

We noticed that when filling a form with approximately 10 fields, a lot of AJAX-requests happen. This is because of the `on(change)|*` o

[2022-11-28 14:48] weaverryan commented on #566
Hi there!

I appreciate you opening the issue from a real-world use case - that's exactly what we need right now :).

I think there are two separate, but related questions. I'll discuss them backwards:

This should be possible (but please tell me if it's not - I can't remember if we have a test case specifically for it) via:

[code]

That should trigger the models in your form to "update" on chang

[2022-11-28 14:49] weaverryan commented on #565
Yup, closing here. Though, I would love for someone to fix that bug :).

[2022-11-28 14:49] #565 closed, assigned to nobody

[2022-11-28 15:09] #549 closed, assigned to nobody

[2022-11-28 16:13] #545 closed, assigned to nobody

[2022-11-28 17:00] jcrombez opened #568 "[Live] Error when emptying a LiveCollection because of PersistentCollection instead of array"
Hello, i'm having an issue with ComponentWithFormTrait  + LiveCollectionTrait.

I don't know what i could have done wrong but when removing all the element from a collection, when the last element is removed, the code fail because the field contains an empty PersistentCollection instead of the usual array. Before the collection is empty it's an array, it becomes a PeristentCollection when it's emp

[2022-11-28 17:41] #556 closed, assigned to nobody

[2022-11-28 22:06] weaverryan commented on #566
Also, you mentioned:

I couldn't quite see how the subscriber was causing problems - I would love more details inside of #555 - I'd like to solve that issue.

[2022-11-28 22:20] weaverryan commented on #555
Back from the conference. And, yea, the problem is clear now. You are, very simply, wanting to do this:

[code]

As a way to easily set the `data-model` attribute on the root element inside of that component. But now, I've given this `data-model` a new "meaning" for child components, which is conflicting. This is tricky, and I want to find the right solution.

The new behavior I've given to `data-

[2022-11-28 22:36] tacman opened #572 "[autocomplete] not working on 6.2RC2 (okay on RC1)"
I updated to Symfony 6.2RC2 and got this error, I revered to RC1 and it was okay again.

I haven't researched it, just reporting it since Symfony 6.2 is so close to release.  Even reinstalling ux-autocomplete didn't fix it.  But perhaps purging the cache would have worked.

 [KO]
Script cache:clear returned with error code 1
!!
!!   // Clearing the cache for the dev environment with debug true
!!

[2022-11-29 01:26] zavarock commented on #572
Just change it to
[code]
in **config/routes/ux_autocomplete.yaml**

Ref: https://github.com/symfony/ux/releases/tag/v2.6.0

[2022-11-29 06:38] veewee commented on #555
Alright thanks for the in-depth explanation!

I'm still not convinced that this listener will be able to solve the issue.
Imagine this nested scenario:

* EditPost live component
   *  A "template" twig component
       *  A "form" twig component
           * A MarkdownTextarea component

In this case, the markdown textarea won't be able to update the EditPost live component since it is nested in

[2022-11-29 08:27] veewee commented on #566
Hello,

I'm coworking on this with Stef and wanted to jump in on the conversation:

You suggested to

[code]

This will avoid **all** rerenders during change. There are however, some fields that we do want to live-update.
If we do force one field to rerender, then the validation is applied on all data and the errors will be displayed on the other form fields.
What we suggest here, is adding a way

[2022-11-29 09:35] mahdi-akbary opened #574 "[Autocomplete] Too many parameters: the query defines 1 parameters and you bound 2"
while submitting a form having an autocomplete that's ajax-powered based on documentation in Symfony an error is being returned at `$form->handleRequest($request);  `  and the error is  `Too many parameters: the query defines 1 parameters and you bound 2`.
after going through the files in autocomplete package found out that in file: https://github.com/symfony/ux-autocomplete/blob/2.x/src/Form/Auto

[2022-11-29 12:26] tacman commented on #563
I still struggle with service locators, the compiler pass, etc.

On a related note (but I can open this in a new issue if that's appropriate), is there a way to implement a render call that bypasses the twig template altogether?   I was playing around with rewriting the knp menu render twig template as a component:

https://github.com/KnpLabs/KnpMenu/blob/master/src/Knp/Menu/Resources/views/knp_me

[2022-11-29 14:43] veewee commented on #566
Small update:

On A), I was thinking to add validation modes: 'late' or 'early'
Made a little POC to give you an idea about what I was describing: https://github.com/veewee/ux/pull/1/files

It has some drastical changes in comparison to the original code. I still need to address and tackle these changes to make it more compatible with the original version. (I do not fully grasp the isValidated fla

[2022-11-29 15:04] kbond commented on #563
Ok, I will have to play with this.

At one point we played with the idea of self-rendering components. We didn't implement because we couldn't think of a valid use-case but maybe this is it?

[2022-11-29 15:12] kbond commented on #566
Just want to pop in to say some kind of builder for complex expressions is interesting. Agree these can get hard to understand.

Would be interesting if you could build these expressions right in your form type:

[code]

[2022-11-29 16:13] weaverryan commented on #572
Yup thanks! Also running `composer recipes:update` will do this for you - a final BC break before we released 2.6.0 without experimental status.

[2022-11-29 16:13] #572 closed, assigned to nobody

[2022-11-29 16:15] weaverryan commented on #574
Hmm. There could be a bug here, but I want to make sure. Have you overridden your `createQueryBuilder()` inside your repository class to add a where clause already?

[2022-11-29 16:20] weaverryan commented on #555
Thanks for continuing to iterate on this with me! I understand what you're saying, but before considering one of those options, could you describe your full use-case and what you want to accomplish? I think you have a LiveComponent that uses `ComponentWithFormTrait`. And I also think that, for at least some fields, you render those in *another* Twig (not live) component - that's the `textarea_comp

[2022-11-29 16:52] weaverryan commented on #566
Hi!

You've proposed 2 cool features.

## 1) Better field-by-field model configuration

For forms, we currently allow you to do `<form data-model="*">` (or some similar variation) so that you can be lazy and use the `name` attribute instead of repeating `data-model` on *every* field. But thanks to the final HTML code you listed @veewee in your previous comment https://github.com/symfony/ux/issues/

[2022-11-29 17:08] veewee commented on #555
The use-case is pretty much described in #566.
We have a live component that shows a form through the `ComponentWithFormTrait`.
Inside this form we want to control if specific fields should trigger a rerender or not. This way we can build a form with dynamic elements.
in order to achieve this, we need to set the data-model to 'norender'. But the twig component listener is blocking us to do so.

In

[2022-11-29 17:12] veewee commented on #566
@weaverryan Completely agree with your previous comment. This would be awesome!
Let me know if there is anything else I can do to make this possible.

Note: I indeed plaid with the validation properties, but nothing seemed to give good results. The flags are conditionally changed in the trait so are not very reliable ATM.

[2022-11-29 19:34] mahdi-akbary commented on #574
@weaverryan  whether you overridden `createQueryBuilder ()` it still cause the error

[2022-11-29 19:37] mahdi-akbary commented on #574
@weaverryan I wanted to create a pull request but I couldn't, didn't have access.

[2022-11-30 06:55] norkunas commented on #555
@weaverryan my use case is pretty simple - I wanted to apply `'data-model': 'on(change)|*'` rule on a form, which is in a component.

page template:
[code]

component template:
[code]

[2022-11-30 08:35] veewee commented on #566
Small update from our side: I've updated the POC to work with a simple version of the model behaviour
See https://github.com/veewee/ux/pull/1/files

It can be used this way:

[code]

This works pretty good!
We're gonna be using this version in our project until this package provides the functionality described above.

[2022-11-30 08:51] noook opened #576 "[Autocomplete] - Not firing requests when using `autocomplete_url`"
I'm trying to use the Symfony UX Autocomplete component within a form on the EasyAdmin bundle. I need to use a TextField which will call a custom controller to get results. The usecase is an address autocompleter thanks to Google Maps autocomplete service.

This is my current CrudView configuration:

[code]

when rendering, all the atributes are present:
[code]

But no requests are fired to the de

[2022-11-30 09:31] daFish commented on #576
I think it works with the relative url. How many characters did you enter in the field? The default configuration is 3 characters minimum.

[2022-11-30 09:54] noook commented on #576
Tried with relative URL, and min length, nothing is fired:

https://user-images.githubusercontent.com/19751938/204764688-72dbefdf-7b69-400e-8139-a200258b5b38.mov

[2022-11-30 10:08] daFish commented on #576
Is the controller connected and shows its dev output in the console? Are all assets built?

[2022-11-30 10:16] noook commented on #576
there is no controller at the moment, I'd expect the javascript to still fire requests and receive a 404, is there a server side check ?

The assets are built, I ran `npm run watch` after installing the assets

edit: what controller ? The RouteController (php) or javascript ?

[2022-11-30 10:19] daFish commented on #576
The default stimulus controller should be bound due to `data-controller="symfony--ux-autocomplete--autocomplete"`.

![Bildschirmfoto 2022-11-30 um 11 16 44](https://user-images.githubusercontent.com/150416/204769858-5a257417-beb2-41b1-ab63-5fc09780b139.png)

One thing you could check is, if the assets are loaded in the template using `{{ encore_entry_script_tags('app') }}` (`app` may vary). This w

[2022-11-30 10:24] seb-jean opened #577 "Ambiguous class resolution"
When I use command :

`symfony composer require symfony/ux-turbo-mercure`

I have errors:

[code]

Ouput general:
[code]

[2022-11-30 11:23] daFish commented on #576
After a good conversation with @noook in Slack we came up with a solution:

To add the encore assets in EasyAdminBundle use the built-in methods as described in https://symfony.com/bundles/EasyAdminBundle/current/design.html#adding-custom-web-assets

[2022-11-30 11:42] #576 closed, assigned to nobody

[2022-11-30 16:11] weaverryan commented on #577
I'm checking into this :)

[2022-11-30 16:34] weaverryan opened #578 "Embed symfony/ux-turbo-mercure into symfony/ux-turbo"
Hi!

Since the repository reorganization in 2.6, I've discovered a problem #577.

Basically, when you install `symfony/ux-turbo` you ALSO get (and have always gotten) the code for the `symfony/ux-turbo-mercure` package. This is because that package lives as a subdirectory of `symfony/ux-turbo`: https://github.com/symfony/ux-turbo/tree/2.x/src/Bridge/Mercure. In 2.6, because autoloading rules were

[2022-11-30 16:39] chalasr commented on #578
Makes sense to me.